node_modules/node-red-job-jobctl/subflow/node-red-job-jobctl.json
{
    "id": "6399b4d8775a079a",
    "type": "subflow",
    "name": "jobctl",
    "info": "",
    "category": "",
    "in": [],
    "out": [],
    "env": [],
    "meta": {
        "module": "node-red-job-jobctl",
        "type": "jobctl",
        "version": "0.0.1",
        "license": "MIT"
    },
    "color": "#DDAA99",
    "icon": "font-awesome/fa-flash",
    "flow": [
        {
            "id": "e4f436cc7dbe9cfd",
            "type": "inject",
            "z": "6399b4d8775a079a",
            "name": "PINGREQ",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "test",
            "payloadType": "str",
            "x": 200,
            "y": 240,
            "wires": [
                [
                    "86db81d4646a1b23"
                ]
            ]
        },
        {
            "id": "8436d950506a6455",
            "type": "switch",
            "z": "6399b4d8775a079a",
            "name": "",
            "property": "payload.COMMAND",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "CONNECT",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "CONNACK",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "PINGREQ",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "PINGRESP",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "TOPIC",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 5,
            "x": 550,
            "y": 440,
            "wires": [
                [
                    "70fa88a3c6d0a19e"
                ],
                [
                    "7cccfcec40ecbf10"
                ],
                [
                    "ed74f720bc1d1a06"
                ],
                [
                    "45a4ad7677cb1357"
                ],
                []
            ]
        },
        {
            "id": "2bbd39fa02b50886",
            "type": "inject",
            "z": "6399b4d8775a079a",
            "name": "CONNECT",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "3600",
            "crontab": "",
            "once": true,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "test",
            "payloadType": "str",
            "x": 210,
            "y": 120,
            "wires": [
                [
                    "fda60e2d1718673e"
                ]
            ]
        },
        {
            "id": "45a4ad7677cb1357",
            "type": "debug",
            "z": "6399b4d8775a079a",
            "name": "PROC PINGRESP",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "targetType": "full",
            "statusVal": "",
            "statusType": "auto",
            "x": 810,
            "y": 460,
            "wires": []
        },
        {
            "id": "7cccfcec40ecbf10",
            "type": "function",
            "z": "6399b4d8775a079a",
            "name": "PROC CONNACK",
            "func": "\nif (msg.payload.CLUSTER_ROLE !== \"jobctl\") return msg;\nconst JOBCTL_HOST = {\n    HOST: msg.payload.CLUSTER_SERVICE_HOST || msg.payload.CLUSTER_SERVICE_IP,\n    IP: msg.payload.CLUSTER_SERVICE_IP || msg.payload.CLUSTER_SERVICE_HOST,\n    HTTP_PORT: msg.payload.CLUSTER_SERVICE_HTTP_PORT || \"1880\",\n    UDP_PORT: msg.payload.CLUSTER_SERVICE_UDP_PORT || \"2880\",\n\n    NODE_RED_VERSION: msg.payload.NODE_RED_VERSION,\n    ROLE: msg.payload.CLUSTER_ROLE\n}\nglobal.set(\"JOBCTL_HOST\", JOBCTL_HOST)\nreturn msg;\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 810,
            "y": 380,
            "wires": [
                [
                    "b2f8be8bbe3568c3"
                ]
            ]
        },
        {
            "id": "b2f8be8bbe3568c3",
            "type": "debug",
            "z": "6399b4d8775a079a",
            "name": "debug 3",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "targetType": "full",
            "statusVal": "",
            "statusType": "auto",
            "x": 1000,
            "y": 380,
            "wires": []
        },
        {
            "id": "5ba8ddc5b2654cdb",
            "type": "cluster-endpoint",
            "z": "6399b4d8775a079a",
            "name": "",
            "x": 220,
            "y": 440,
            "wires": [
                [
                    "3e849b3e4757f5c7"
                ]
            ],
            "endpoint_port": {
                "type": "str",
                "value": "2880"
            }
        },
        {
            "id": "fda60e2d1718673e",
            "type": "cluster-ctl",
            "z": "6399b4d8775a079a",
            "name": "SEND CONNECT",
            "x": 410,
            "y": 120,
            "wires": [],
            "COMMAND": {
                "type": "str",
                "value": "CONNECT"
            },
            "BROADCAST": {
                "type": "bool",
                "value": "true"
            }
        },
        {
            "id": "86db81d4646a1b23",
            "type": "cluster-ctl",
            "z": "6399b4d8775a079a",
            "name": "SEND PINGREQ",
            "x": 410,
            "y": 240,
            "wires": [],
            "COMMAND": {
                "type": "str",
                "value": "PINGREQ"
            },
            "BROADCAST": {
                "type": "bool",
                "value": "true"
            }
        },
        {
            "id": "f2e62be0eb17e40b",
            "type": "cluster-ctl",
            "z": "6399b4d8775a079a",
            "name": "SEND CONNACK",
            "x": 1030,
            "y": 340,
            "wires": [],
            "COMMAND": {
                "type": "str",
                "value": "CONNACK"
            },
            "BROADCAST": {
                "type": "bool",
                "value": "false"
            }
        },
        {
            "id": "ed74f720bc1d1a06",
            "type": "cluster-ctl",
            "z": "6399b4d8775a079a",
            "name": "SEND PINGRESP",
            "x": 810,
            "y": 420,
            "wires": [],
            "COMMAND": {
                "type": "str",
                "value": "PINGRESP"
            },
            "BROADCAST": {
                "type": "bool",
                "value": "false"
            }
        },
        {
            "id": "33bb87efab5d968d",
            "type": "debug",
            "z": "6399b4d8775a079a",
            "name": "debug 4",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "false",
            "statusVal": "",
            "statusType": "auto",
            "x": 700,
            "y": 680,
            "wires": []
        },
        {
            "id": "75aa04f7b0569c59",
            "type": "inject",
            "z": "6399b4d8775a079a",
            "name": "未処理topicの配信",
            "props": [],
            "repeat": "10",
            "crontab": "",
            "once": true,
            "onceDelay": "20",
            "topic": "",
            "x": 230,
            "y": 800,
            "wires": [
                [
                    "33ff37445fd71e22"
                ]
            ]
        },
        {
            "id": "7b3627b6af144639",
            "type": "cluster-ctl",
            "z": "6399b4d8775a079a",
            "name": "SEND TOPIC",
            "x": 1180,
            "y": 800,
            "wires": [],
            "COMMAND": {
                "type": "str",
                "value": "TOPIC"
            },
            "BROADCAST": {
                "type": "bool",
                "value": "true"
            }
        },
        {
            "id": "70fa88a3c6d0a19e",
            "type": "function",
            "z": "6399b4d8775a079a",
            "name": "PROC CONNECT",
            "func": "if (msg.payload.CLUSTER_ROLE !== \"processor\") return msg;\nconst PROCESSOR_HOSTS = global.get(\"PROCESSOR_HOSTS\") || new Map();\nconst fromip = `${msg.payload.CLUSTER_SERVICE_HOST}:${msg.payload.CLUSTER_SERVICE_HTTP_PORT || \"1880\"}`\nPROCESSOR_HOSTS.set(fromip, {\n    HOST: msg.payload.CLUSTER_SERVICE_HOST || msg.payload.CLUSTER_SERVICE_IP,\n    IP: msg.payload.CLUSTER_SERVICE_IP || msg.payload.CLUSTER_SERVICE_HOST,\n    HTTP_PORT: msg.payload.CLUSTER_SERVICE_HTTP_PORT || \"1880\",\n    UDP_PORT: msg.payload.CLUSTER_SERVICE_UDP_PORT || \"2880\",\n\n    NODE_RED_VERSION: msg.payload.NODE_RED_VERSION,\n    ROLE: msg.payload.CLUSTER_ROLE\n})\nglobal.set(\"PROCESSOR_HOSTS\", PROCESSOR_HOSTS)\nreturn msg;\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 810,
            "y": 340,
            "wires": [
                [
                    "f2e62be0eb17e40b"
                ]
            ]
        },
        {
            "id": "ac71904c6ec568e3",
            "type": "http in",
            "z": "6399b4d8775a079a",
            "name": "topic assign",
            "url": "/assign/:topic",
            "method": "get",
            "upload": false,
            "swaggerDoc": "",
            "x": 190,
            "y": 920,
            "wires": [
                [
                    "66bb7f7f83faa6c9"
                ]
            ]
        },
        {
            "id": "66bb7f7f83faa6c9",
            "type": "change",
            "z": "6399b4d8775a079a",
            "name": "set parameter",
            "rules": [
                {
                    "t": "set",
                    "p": "topic",
                    "pt": "msg",
                    "to": "req.params.topic",
                    "tot": "msg"
                },
                {
                    "t": "set",
                    "p": "status",
                    "pt": "msg",
                    "to": "assigned",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 380,
            "y": 920,
            "wires": [
                [
                    "2372af7c30fab0e8"
                ]
            ]
        },
        {
            "id": "b781c8a3c7f1c961",
            "type": "http response",
            "z": "6399b4d8775a079a",
            "name": "",
            "statusCode": "200",
            "headers": {},
            "x": 1140,
            "y": 920,
            "wires": []
        },
        {
            "id": "879ef2c221179d06",
            "type": "topics-assign",
            "z": "6399b4d8775a079a",
            "name": "",
            "x": 740,
            "y": 920,
            "wires": [
                [
                    "fa378d358dbc8c4f"
                ],
                [
                    "b3b1347496e2aea7"
                ]
            ],
            "topicPath": {
                "type": "str",
                "value": "topic"
            },
            "statusPath": {
                "type": "str",
                "value": "status"
            }
        },
        {
            "id": "5f8645481b17a6ba",
            "type": "http response",
            "z": "6399b4d8775a079a",
            "name": "",
            "statusCode": "400",
            "headers": {},
            "x": 1140,
            "y": 960,
            "wires": []
        },
        {
            "id": "6107c34b869084b6",
            "type": "topic-add",
            "z": "6399b4d8775a079a",
            "name": "",
            "x": 560,
            "y": 680,
            "wires": [
                [
                    "33bb87efab5d968d"
                ]
            ],
            "topicPath": {
                "type": "str",
                "value": "topic"
            }
        },
        {
            "id": "041f26bfc1e571d0",
            "type": "topics-list",
            "z": "6399b4d8775a079a",
            "name": "",
            "x": 560,
            "y": 800,
            "wires": [
                [
                    "3874f7a637f95d3c"
                ]
            ],
            "statusPath": {
                "type": "str",
                "value": "status"
            }
        },
        {
            "id": "fa378d358dbc8c4f",
            "type": "function",
            "z": "6399b4d8775a079a",
            "name": "assing result",
            "func": "msg.payload = {\n    \"HOSTNAME\": env.get(\"HOSTNAME\"),\n    \"NODE_RED_VERSION\": env.get(\"NODE_RED_VERSION\"),\n    \"topic\": msg.payload.topic,\n    \"topicTicket\": msg.payload.topicTicket\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 920,
            "wires": [
                [
                    "b781c8a3c7f1c961"
                ]
            ]
        },
        {
            "id": "b3b1347496e2aea7",
            "type": "function",
            "z": "6399b4d8775a079a",
            "name": "assing result",
            "func": "msg.payload = {\n    \"HOSTNAME\": env.get(\"HOSTNAME\"),\n    \"NODE_RED_VERSION\": env.get(\"NODE_RED_VERSION\"),\n    \"topic\": msg.topic\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 960,
            "wires": [
                [
                    "5f8645481b17a6ba"
                ]
            ]
        },
        {
            "id": "c806e24325115901",
            "type": "endpoint",
            "z": "6399b4d8775a079a",
            "name": "Add topic",
            "x": 200,
            "y": 680,
            "wires": [
                [
                    "6107c34b869084b6"
                ]
            ],
            "actionType": {
                "type": "str",
                "value": "addtopic"
            },
            "endpoint": {
                "type": "env",
                "value": "/${actionType}/:topic"
            }
        },
        {
            "id": "33ff37445fd71e22",
            "type": "switch-role",
            "z": "6399b4d8775a079a",
            "name": "",
            "x": 410,
            "y": 800,
            "wires": [
                [
                    "041f26bfc1e571d0"
                ],
                []
            ]
        },
        {
            "id": "038dbdaf6002571c",
            "type": "topics-assign",
            "z": "6399b4d8775a079a",
            "name": "",
            "x": 850,
            "y": 800,
            "wires": [
                [
                    "d57fb4f666b653d6"
                ],
                []
            ],
            "topicPath": {
                "type": "str",
                "value": "payload.topic"
            },
            "statusPath": {
                "type": "str",
                "value": "status"
            }
        },
        {
            "id": "d57fb4f666b653d6",
            "type": "function",
            "z": "6399b4d8775a079a",
            "name": "assing result",
            "func": "msg.payload = {\n     \"topic\": msg.payload.topic \n}\nreturn msg;\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 1010,
            "y": 800,
            "wires": [
                [
                    "7b3627b6af144639"
                ]
            ]
        },
        {
            "id": "2372af7c30fab0e8",
            "type": "function",
            "z": "6399b4d8775a079a",
            "name": "JSON.parse",
            "func": "if (msg.topic) {\n    try {\n        msg.topic = JSON.parse(msg.topic)\n    } catch (error) {\n    }\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 550,
            "y": 920,
            "wires": [
                [
                    "879ef2c221179d06"
                ]
            ]
        },
        {
            "id": "0875188206215aa8",
            "type": "comment",
            "z": "6399b4d8775a079a",
            "name": "jobctlより1m間隔で配信",
            "info": "",
            "x": 220,
            "y": 760,
            "wires": []
        },
        {
            "id": "84186f06dd80bd09",
            "type": "comment",
            "z": "6399b4d8775a079a",
            "name": "procから新規topicの受信",
            "info": "",
            "x": 230,
            "y": 640,
            "wires": []
        },
        {
            "id": "0b9f36fafe8b569f",
            "type": "comment",
            "z": "6399b4d8775a079a",
            "name": "procにtopicのassign",
            "info": "",
            "x": 210,
            "y": 880,
            "wires": []
        },
        {
            "id": "fe059a4a317c72a1",
            "type": "comment",
            "z": "6399b4d8775a079a",
            "name": "clusterへの参加通知",
            "info": "",
            "x": 210,
            "y": 80,
            "wires": []
        },
        {
            "id": "e9bd7603374eed88",
            "type": "comment",
            "z": "6399b4d8775a079a",
            "name": "clusterへのPing",
            "info": "",
            "x": 200,
            "y": 200,
            "wires": []
        },
        {
            "id": "899f97df45f4539f",
            "type": "comment",
            "z": "6399b4d8775a079a",
            "name": "cluster制御処理",
            "info": "",
            "x": 200,
            "y": 360,
            "wires": []
        },
        {
            "id": "ba396e40b915898a",
            "type": "http in",
            "z": "6399b4d8775a079a",
            "name": "topic completed",
            "url": "/completed/:topic",
            "method": "get",
            "upload": false,
            "swaggerDoc": "",
            "x": 200,
            "y": 1080,
            "wires": [
                [
                    "cc1c306c7a0b926e"
                ]
            ]
        },
        {
            "id": "cc1c306c7a0b926e",
            "type": "change",
            "z": "6399b4d8775a079a",
            "name": "set parameter",
            "rules": [
                {
                    "t": "set",
                    "p": "topic",
                    "pt": "msg",
                    "to": "req.params.topic",
                    "tot": "msg"
                },
                {
                    "t": "set",
                    "p": "status",
                    "pt": "msg",
                    "to": "in-progress",
                    "tot": "str"
                }
            ],
            "action": "",
            "property": "",
            "from": "",
            "to": "",
            "reg": false,
            "x": 380,
            "y": 1080,
            "wires": [
                [
                    "8c6807c1605b1cf9"
                ]
            ]
        },
        {
            "id": "faaa745d4c17dcae",
            "type": "http response",
            "z": "6399b4d8775a079a",
            "name": "",
            "statusCode": "200",
            "headers": {},
            "x": 1140,
            "y": 1080,
            "wires": []
        },
        {
            "id": "bb91929872a6fdeb",
            "type": "http response",
            "z": "6399b4d8775a079a",
            "name": "",
            "statusCode": "400",
            "headers": {},
            "x": 1140,
            "y": 1120,
            "wires": []
        },
        {
            "id": "c329f731b22b9173",
            "type": "function",
            "z": "6399b4d8775a079a",
            "name": "assing result",
            "func": "msg.payload = {\n    \"HOSTNAME\": env.get(\"HOSTNAME\"),\n    \"NODE_RED_VERSION\": env.get(\"NODE_RED_VERSION\"),\n    \"topic\": msg.payload.topic,\n    \"topicTicket\": msg.payload.topicTicket\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 1080,
            "wires": [
                [
                    "faaa745d4c17dcae"
                ]
            ]
        },
        {
            "id": "36e36c6b56939fed",
            "type": "function",
            "z": "6399b4d8775a079a",
            "name": "assing result",
            "func": "msg.payload = {\n    \"HOSTNAME\": env.get(\"HOSTNAME\"),\n    \"NODE_RED_VERSION\": env.get(\"NODE_RED_VERSION\"),\n    \"topic\": msg.topic\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 930,
            "y": 1120,
            "wires": [
                [
                    "bb91929872a6fdeb"
                ]
            ]
        },
        {
            "id": "8c6807c1605b1cf9",
            "type": "function",
            "z": "6399b4d8775a079a",
            "name": "JSON.parse",
            "func": "if (msg.topic) {\n    try {\n        msg.topic = JSON.parse(msg.topic)\n    } catch (error) {\n    }\n}\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 550,
            "y": 1080,
            "wires": [
                [
                    "e8dfbc55efe2889f"
                ]
            ]
        },
        {
            "id": "32f629c82e7afe15",
            "type": "comment",
            "z": "6399b4d8775a079a",
            "name": "procからtopic完了受信",
            "info": "",
            "x": 220,
            "y": 1040,
            "wires": []
        },
        {
            "id": "e8dfbc55efe2889f",
            "type": "topics-update",
            "z": "6399b4d8775a079a",
            "name": "",
            "x": 730,
            "y": 1080,
            "wires": [
                [
                    "c329f731b22b9173"
                ],
                [
                    "36e36c6b56939fed"
                ]
            ],
            "topicPath": {
                "type": "str",
                "value": "topic.topic"
            },
            "statusPath": {
                "type": "str",
                "value": "status"
            },
            "uuidPath": {
                "type": "str",
                "value": "topic.uuid"
            }
        },
        {
            "id": "3874f7a637f95d3c",
            "type": "split-array",
            "z": "6399b4d8775a079a",
            "name": "",
            "x": 700,
            "y": 800,
            "wires": [
                [
                    "038dbdaf6002571c"
                ]
            ],
            "inputArrayPath": {
                "type": "str",
                "value": "payload.list"
            },
            "outputPath": {
                "type": "str",
                "value": "payload.topic"
            }
        },
        {
            "id": "3e849b3e4757f5c7",
            "type": "switch-role",
            "z": "6399b4d8775a079a",
            "name": "",
            "x": 390,
            "y": 440,
            "wires": [
                [
                    "8436d950506a6455"
                ],
                []
            ]
        }
    ]
}