node_modules/node-red-job-flow-end/subflow/node-red-job-flow-end.json
{
    "id": "e9700f935181888e",
    "type": "subflow",
    "name": "flow-end",
    "info": "",
    "category": "Rate Control",
    "in": [
        {
            "x": 60,
            "y": 80,
            "wires": [
                {
                    "id": "f2b282801e277ec6"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 340,
            "y": 80,
            "wires": [
                {
                    "id": "f2b282801e277ec6",
                    "port": 0
                }
            ]
        },
        {
            "x": 340,
            "y": 120,
            "wires": [
                {
                    "id": "f2b282801e277ec6",
                    "port": 1
                }
            ]
        }
    ],
    "env": [],
    "meta": {
        "module": "node-red-job-flow-end",
        "type": "flow-end",
        "version": "0.0.1",
        "license": "MIT"
    },
    "color": "#E6E0F8",
    "icon": "node-red/link-out.svg",
    "flow": [
        {
            "id": "f2b282801e277ec6",
            "type": "function",
            "z": "e9700f935181888e",
            "name": "flow-end",
            "func": "//{topicname:[{name:\"\",status: \"new\"}]}\nconst flowstatus = global.get(\"FLOW_STATUS\") || new Map()\nconst uuid = msg.uuid\n\nif (!flowstatus.has(uuid)) return [null, msg]\n\nflowstatus.delete(uuid)\nglobal.set(\"FLOW_STATUS\", flowstatus)\nreturn [msg, null]\n",
            "outputs": 2,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 200,
            "y": 80,
            "wires": [
                [],
                []
            ]
        }
    ]
}