data/flows.json
[
    {
        "id": "f01882c08732b397",
        "type": "tab",
        "label": "PROC管理",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e36c572bb2b2e0e",
        "type": "tab",
        "label": "フロー 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dbd8abb392121dc1",
        "type": "tab",
        "label": "JOBCTL_管理用",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca70b65374e24ae8",
        "type": "rpc-sync",
        "z": "f01882c08732b397",
        "name": "topic取得",
        "x": 800,
        "y": 500,
        "wires": [
            [
                "e0410ad4c1884406"
            ],
            []
        ],
        "actionType": {
            "type": "str",
            "value": "assign"
        },
        "topicPath": {
            "type": "str",
            "value": "topic"
        }
    },
    {
        "id": "2e548032e1145bc9",
        "type": "function",
        "z": "f01882c08732b397",
        "name": "waitlist_assign",
        "func": "const waitlist = global.get(\"WAITLIST_TOPICS\") || new Array()//{topicname:[{name:\"\",status: \"new\"}]}\nconst topicName = waitlist.pop()\nconsole.log(\"topicName\", topicName)\nif (!topicName) return [null, msg]\nglobal.set(\"WAITLIST_TOPICS\", waitlist)\nmsg = Object.assign(msg, { topic: topicName });\nreturn [msg, null]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 500,
        "wires": [
            [
                "ca70b65374e24ae8"
            ],
            []
        ]
    },
    {
        "id": "e4e20228d978a35d",
        "type": "inject",
        "z": "f01882c08732b397",
        "name": "get topic",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "b19fa56a77429a44"
            ]
        ]
    },
    {
        "id": "60ccecf9024cc129",
        "type": "switch-role",
        "z": "f01882c08732b397",
        "name": "",
        "x": 430,
        "y": 500,
        "wires": [
            [],
            [
                "2e548032e1145bc9"
            ]
        ]
    },
    {
        "id": "78cfe90baee1916e",
        "type": "function",
        "z": "f01882c08732b397",
        "name": "loop logic",
        "func": "if (!msg.hash) {\n    const date = new Date()\n    msg.hash = date.getFullYear() + (\"0\" + (date.getMonth() + 1)).slice(-2) + (\"0\" + (date.getDate() + 1)).slice(-2)\n}\n\n//ループ情報を取得\nconst status = global.loop_status[msg.hash] || {count: -1, target: null}\n\nstatus.count++\n\n//次の要素を取得、存在しない場合はnull返却\nstatus.target = (status.count < global.TARGETS.length) ? global.TARGETS[status.count] : null\n\n//結果を保存\nglobal.loop_status[msg.hash] = status\n\n//戻り値を作成\nmsg.target = status.target\nmsg.length = global.TARGETS.length\nmsg.count = status.count\n\n//次の要素がある場合は出力１，無い場合は出力２\nconst messages = new Array(node.outputCount)\nif (status.target){\n    node.status({ fill: \"green\", shape: \"dot\", text: `${msg.count} / ${msg.length}`})\n    messages[0] = msg\n} else {\n    messages[1] = msg\n    node.status({})\n}\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\nglobal.TARGETS = [\"test1\",\"test2\"]\nglobal.loop_status = {}\n",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c2317a45bbaef187",
        "type": "function",
        "z": "f01882c08732b397",
        "name": "uuid",
        "func": "if(!msg.hash){\n    const date = new Date()\n    msg.hash = date.getFullYear() + (\"0\" + (date.getMonth() + 1)).slice(-2) + (\"0\" + (date.getDate() + 1)).slice(-2)\n}\n\nconsole.log(RED.util.getLocalAddress())\nmsg.test = RED.util.getLocalAddress()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "8133956767d7a9d7"
            ]
        ]
    },
    {
        "id": "56db8776a8f93f5b",
        "type": "inject",
        "z": "f01882c08732b397",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "c2317a45bbaef187"
            ]
        ]
    },
    {
        "id": "8133956767d7a9d7",
        "type": "debug",
        "z": "f01882c08732b397",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "b19fa56a77429a44",
        "type": "function",
        "z": "f01882c08732b397",
        "name": "flow limit",
        "func": "//{topicname:[{name:\"\",status: \"new\"}]}\nconst flowstatus = global.get(\"FLOW_STATUS\") || new Map()\nconst max = global.get(\"FLOW_MAX\") || 1\n\nif (flowstatus.size >= max) return [null, msg]\nreturn [msg, null]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 500,
        "wires": [
            [
                "60ccecf9024cc129"
            ],
            []
        ]
    },
    {
        "id": "e0410ad4c1884406",
        "type": "function",
        "z": "f01882c08732b397",
        "name": "flow start",
        "func": "//{topicname:[{name:\"\",status: \"new\"}]}\nconst flowstatus = global.get(\"FLOW_STATUS\") || new Map()\n\nconst topicTicket = msg.payload.topicTicket\nconst uuid = topicTicket.uuid\nif (flowstatus.has(uuid)) return [null, msg]\nflowstatus.set(uuid, topicTicket)\nglobal.set(\"FLOW_STATUS\", flowstatus)\nmsg.topicTicket = topicTicket\nmsg.topic = topicTicket.topic\nmsg.uuid = uuid\nreturn [msg, null]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 500,
        "wires": [
            [
                "0385629247bbb46e",
                "878a855ba718978e"
            ],
            []
        ]
    },
    {
        "id": "0385629247bbb46e",
        "type": "debug",
        "z": "f01882c08732b397",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 460,
        "wires": []
    },
    {
        "id": "707bc717a0d8c626",
        "type": "rpc-sync",
        "z": "f01882c08732b397",
        "name": "topic 完了",
        "x": 740,
        "y": 700,
        "wires": [
            [
                "88fda1c4f25cba11"
            ],
            [
                "dd5d0984cf0af806"
            ]
        ],
        "actionType": {
            "type": "str",
            "value": "completed"
        },
        "topicPath": {
            "type": "str",
            "value": "topicTicket"
        }
    },
    {
        "id": "0b5ba824438008c4",
        "type": "inject",
        "z": "f01882c08732b397",
        "name": "completed topic",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "82c3b0b299dbe8a3"
            ]
        ]
    },
    {
        "id": "82c3b0b299dbe8a3",
        "type": "switch-role",
        "z": "f01882c08732b397",
        "name": "",
        "x": 350,
        "y": 700,
        "wires": [
            [],
            [
                "f2b282801e277ec6"
            ]
        ]
    },
    {
        "id": "f2b282801e277ec6",
        "type": "function",
        "z": "f01882c08732b397",
        "name": "flow end",
        "func": "//{topicname:[{name:\"\",status: \"new\"}]}\nconst flowstatus = global.get(\"FLOW_STATUS\") || new Map()\nconst uuid = msg.uuid\n\nif (!flowstatus.has(uuid)) return [null, msg]\n\nflowstatus.delete(uuid)\nglobal.set(\"FLOW_STATUS\", flowstatus)\nreturn [msg, null]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 700,
        "wires": [
            [
                "707bc717a0d8c626"
            ],
            []
        ]
    },
    {
        "id": "88fda1c4f25cba11",
        "type": "debug",
        "z": "f01882c08732b397",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 680,
        "wires": []
    },
    {
        "id": "dd5d0984cf0af806",
        "type": "debug",
        "z": "f01882c08732b397",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 720,
        "wires": []
    },
    {
        "id": "4e90783a35fceb8f",
        "type": "inject",
        "z": "f01882c08732b397",
        "name": "Sample Topic1",
        "props": [
            {
                "p": "payload.topic",
                "v": "{\t    \"topic\" : \"topic1\",\t    \"param\": {\"hoge\":\"new\"}\t}\t",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "e61870e6384df480"
            ]
        ]
    },
    {
        "id": "e61870e6384df480",
        "type": "rpc-sync",
        "z": "f01882c08732b397",
        "name": "",
        "x": 620,
        "y": 160,
        "wires": [
            [
                "938bc7c1342ffed9"
            ],
            []
        ],
        "actionType": {
            "type": "str",
            "value": "addtopic"
        },
        "topicPath": {
            "type": "str",
            "value": "payload.topic"
        }
    },
    {
        "id": "938bc7c1342ffed9",
        "type": "debug",
        "z": "f01882c08732b397",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "1337ddaae1e0b4f2",
        "type": "comment",
        "z": "f01882c08732b397",
        "name": "新規topicの登録",
        "info": "",
        "x": 120,
        "y": 100,
        "wires": []
    },
    {
        "id": "8c81cd4c7fdd8486",
        "type": "comment",
        "z": "f01882c08732b397",
        "name": "部品",
        "info": "",
        "x": 90,
        "y": 280,
        "wires": []
    },
    {
        "id": "6f67feb8aaf36c3d",
        "type": "comment",
        "z": "f01882c08732b397",
        "name": "topicを取得して着手",
        "info": "",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "d531f9b3819a76e3",
        "type": "comment",
        "z": "f01882c08732b397",
        "name": "topicを完了",
        "info": "",
        "x": 110,
        "y": 640,
        "wires": []
    },
    {
        "id": "878a855ba718978e",
        "type": "delay",
        "z": "f01882c08732b397",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 600,
        "wires": [
            [
                "82c3b0b299dbe8a3"
            ]
        ]
    },
    {
        "id": "771e91fbd62fd669",
        "type": "function",
        "z": "f01882c08732b397",
        "name": "splet array",
        "func": "\nconst list = msg.payload.list\nconst topic = msg.payload.topic\nconst date = new Date()\nconst jobsession = date.getFullYear() + (\"0\" + (date.getMonth() + 1)).slice(-2) + (\"0\" + (date.getDate() + 1)).slice(-2)\n\n//payload.topic\n//{\t    \"topic\" : \"topic1\",\t    \"param\": {\"hoge\":\"new\"}\t}\t\nfor (const key in list) {\n    node.send(\n        {\n            payload: {\n                topic: {\n                    topic: topic,\n                    param: {\n                        target: list[key],\n                        jobsession: jobsession\n                    }\n                }\n            }\n        }\n    );\n}\n\n//node.done();\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "e61870e6384df480"
            ]
        ]
    },
    {
        "id": "486842778ef1fa28",
        "type": "inject",
        "z": "f01882c08732b397",
        "name": "git Topic",
        "props": [
            {
                "p": "payload.topic",
                "v": "git",
                "vt": "str"
            },
            {
                "p": "payload.list",
                "v": "[\"A0000_0000\",\"B0000_0000\"]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "771e91fbd62fd669"
            ]
        ]
    },
    {
        "id": "e4f436cc7dbe9cfd",
        "type": "inject",
        "z": "9e36c572bb2b2e0e",
        "name": "PINGREQ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "86db81d4646a1b23"
            ]
        ]
    },
    {
        "id": "8436d950506a6455",
        "type": "switch",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "property": "payload.COMMAND",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CONNECT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CONNACK",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PINGREQ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PINGRESP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TOPIC",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "9ea5aeec71174e3f"
            ],
            [
                "7cccfcec40ecbf10"
            ],
            [
                "ed74f720bc1d1a06"
            ],
            [
                "45a4ad7677cb1357"
            ],
            [
                "ee671845d9ea352c"
            ]
        ]
    },
    {
        "id": "2bbd39fa02b50886",
        "type": "inject",
        "z": "9e36c572bb2b2e0e",
        "name": "CONNECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "fda60e2d1718673e"
            ]
        ]
    },
    {
        "id": "45a4ad7677cb1357",
        "type": "debug",
        "z": "9e36c572bb2b2e0e",
        "name": "PROC PINGRESP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "7cccfcec40ecbf10",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "PROC CONNACK",
        "func": "\nif (msg.payload.CLUSTER_ROLE !== \"jobctl\") return msg;\nconst JOBCTL_HOST = {\n    HOST: msg.payload.CLUSTER_SERVICE_HOST || msg.payload.CLUSTER_SERVICE_IP,\n    IP: msg.payload.CLUSTER_SERVICE_IP || msg.payload.CLUSTER_SERVICE_HOST,\n    HTTP_PORT: msg.payload.CLUSTER_SERVICE_HTTP_PORT || \"1880\",\n    UDP_PORT: msg.payload.CLUSTER_SERVICE_UDP_PORT || \"2880\",\n\n    NODE_RED_VERSION: msg.payload.NODE_RED_VERSION,\n    ROLE: msg.payload.CLUSTER_ROLE\n}\nglobal.set(\"JOBCTL_HOST\", JOBCTL_HOST)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            [
                "b2f8be8bbe3568c3"
            ]
        ]
    },
    {
        "id": "b2f8be8bbe3568c3",
        "type": "debug",
        "z": "9e36c572bb2b2e0e",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "5ba8ddc5b2654cdb",
        "type": "cluster-endpoint",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "8436d950506a6455"
            ]
        ],
        "endpoint_port": {
            "type": "str",
            "value": "2880"
        }
    },
    {
        "id": "fda60e2d1718673e",
        "type": "cluster-ctl",
        "z": "9e36c572bb2b2e0e",
        "name": "SEND CONNECT",
        "x": 330,
        "y": 80,
        "wires": [],
        "COMMAND": {
            "type": "str",
            "value": "CONNECT"
        },
        "BROADCAST": {
            "type": "bool",
            "value": "true"
        }
    },
    {
        "id": "86db81d4646a1b23",
        "type": "cluster-ctl",
        "z": "9e36c572bb2b2e0e",
        "name": "SEND PINGREQ",
        "x": 330,
        "y": 200,
        "wires": [],
        "COMMAND": {
            "type": "str",
            "value": "PINGREQ"
        },
        "BROADCAST": {
            "type": "bool",
            "value": "true"
        }
    },
    {
        "id": "f2e62be0eb17e40b",
        "type": "cluster-ctl",
        "z": "9e36c572bb2b2e0e",
        "name": "SEND CONNACK",
        "x": 930,
        "y": 280,
        "wires": [],
        "COMMAND": {
            "type": "str",
            "value": "CONNACK"
        },
        "BROADCAST": {
            "type": "bool",
            "value": "false"
        }
    },
    {
        "id": "ed74f720bc1d1a06",
        "type": "cluster-ctl",
        "z": "9e36c572bb2b2e0e",
        "name": "SEND PINGRESP",
        "x": 710,
        "y": 380,
        "wires": [],
        "COMMAND": {
            "type": "str",
            "value": "PINGRESP"
        },
        "BROADCAST": {
            "type": "bool",
            "value": "false"
        }
    },
    {
        "id": "33bb87efab5d968d",
        "type": "debug",
        "z": "9e36c572bb2b2e0e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 640,
        "wires": []
    },
    {
        "id": "75aa04f7b0569c59",
        "type": "inject",
        "z": "9e36c572bb2b2e0e",
        "name": "未処理topicの配信",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "33ff37445fd71e22"
            ]
        ]
    },
    {
        "id": "210c38446e598771",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "splet array",
        "func": "\nconst list = msg.payload.list\n\nfor (const key in list) {\n    node.send({ payload: { topic: list[key] } });\n}\n\n//node.done();\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 780,
        "wires": [
            [
                "038dbdaf6002571c"
            ]
        ]
    },
    {
        "id": "7b3627b6af144639",
        "type": "cluster-ctl",
        "z": "9e36c572bb2b2e0e",
        "name": "SEND TOPIC",
        "x": 1320,
        "y": 780,
        "wires": [],
        "COMMAND": {
            "type": "str",
            "value": "TOPIC"
        },
        "BROADCAST": {
            "type": "bool",
            "value": "true"
        }
    },
    {
        "id": "70fa88a3c6d0a19e",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "PROC CONNECT",
        "func": "if (msg.payload.CLUSTER_ROLE !== \"processor\") return msg;\nconst PROCESSOR_HOSTS = global.get(\"PROCESSOR_HOSTS\") || new Map();\nconst fromip = `${msg.payload.CLUSTER_SERVICE_HOST}:${msg.payload.CLUSTER_SERVICE_HTTP_PORT || \"1880\"}`\nPROCESSOR_HOSTS.set(fromip, {\n    HOST: msg.payload.CLUSTER_SERVICE_HOST || msg.payload.CLUSTER_SERVICE_IP,\n    IP: msg.payload.CLUSTER_SERVICE_IP || msg.payload.CLUSTER_SERVICE_HOST,\n    HTTP_PORT: msg.payload.CLUSTER_SERVICE_HTTP_PORT || \"1880\",\n    UDP_PORT: msg.payload.CLUSTER_SERVICE_UDP_PORT || \"2880\",\n\n    NODE_RED_VERSION: msg.payload.NODE_RED_VERSION,\n    ROLE: msg.payload.CLUSTER_ROLE\n})\nglobal.set(\"PROCESSOR_HOSTS\", PROCESSOR_HOSTS)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 280,
        "wires": [
            [
                "f2e62be0eb17e40b"
            ]
        ]
    },
    {
        "id": "9ea5aeec71174e3f",
        "type": "switch-role",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "70fa88a3c6d0a19e"
            ],
            []
        ]
    },
    {
        "id": "ee671845d9ea352c",
        "type": "switch-role",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 450,
        "y": 460,
        "wires": [
            [],
            [
                "94d6237a4dccb2c1"
            ]
        ]
    },
    {
        "id": "ac71904c6ec568e3",
        "type": "http in",
        "z": "9e36c572bb2b2e0e",
        "name": "topic assign",
        "url": "/assign/:topic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "66bb7f7f83faa6c9"
            ]
        ]
    },
    {
        "id": "66bb7f7f83faa6c9",
        "type": "change",
        "z": "9e36c572bb2b2e0e",
        "name": "set parameter",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "req.params.topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "msg",
                "to": "assigned",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 880,
        "wires": [
            [
                "2372af7c30fab0e8"
            ]
        ]
    },
    {
        "id": "b781c8a3c7f1c961",
        "type": "http response",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1060,
        "y": 880,
        "wires": []
    },
    {
        "id": "879ef2c221179d06",
        "type": "topics-assign",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 660,
        "y": 880,
        "wires": [
            [
                "fa378d358dbc8c4f"
            ],
            [
                "b3b1347496e2aea7"
            ]
        ],
        "topicPath": {
            "type": "str",
            "value": "topic"
        },
        "statusPath": {
            "type": "str",
            "value": "status"
        }
    },
    {
        "id": "5f8645481b17a6ba",
        "type": "http response",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 1060,
        "y": 920,
        "wires": []
    },
    {
        "id": "94d6237a4dccb2c1",
        "type": "fillter-topic",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "998fa97d665f6910"
            ],
            []
        ],
        "topicPath": {
            "type": "str",
            "value": "payload.PAYLOAD.topic"
        }
    },
    {
        "id": "6107c34b869084b6",
        "type": "topic-add",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 620,
        "y": 640,
        "wires": [
            [
                "33bb87efab5d968d"
            ]
        ],
        "topicPath": {
            "type": "str",
            "value": "payload.topic"
        }
    },
    {
        "id": "041f26bfc1e571d0",
        "type": "topics-list",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 560,
        "y": 780,
        "wires": [
            [
                "210c38446e598771"
            ]
        ],
        "statusPath": {
            "type": "str",
            "value": "status"
        }
    },
    {
        "id": "fa378d358dbc8c4f",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "assing result",
        "func": "msg.payload = {\n    \"HOSTNAME\": env.get(\"HOSTNAME\"),\n    \"NODE_RED_VERSION\": env.get(\"NODE_RED_VERSION\"),\n    \"topic\": msg.payload.topic,\n    \"topicTicket\": msg.payload.topicTicket\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 880,
        "wires": [
            [
                "b781c8a3c7f1c961"
            ]
        ]
    },
    {
        "id": "b3b1347496e2aea7",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "assing result",
        "func": "msg.payload = {\n    \"HOSTNAME\": env.get(\"HOSTNAME\"),\n    \"NODE_RED_VERSION\": env.get(\"NODE_RED_VERSION\"),\n    \"topic\": msg.topic\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 920,
        "wires": [
            [
                "5f8645481b17a6ba"
            ]
        ]
    },
    {
        "id": "998fa97d665f6910",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "waitlist_add",
        "func": "const topicName = msg.payload.PAYLOAD.topic || \"\"\n\n//{topicname:[{topic:\"\",param: {}}}]}\nconst waitlist = global.get(\"WAITLIST_TOPICS\") || new Array()\nwaitlist.push(topicName)\nglobal.set(\"WAITLIST_TOPICS\", waitlist)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 460,
        "wires": [
            [
                "5dea2ffd6ba78f15"
            ]
        ]
    },
    {
        "id": "5dea2ffd6ba78f15",
        "type": "debug",
        "z": "9e36c572bb2b2e0e",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "c806e24325115901",
        "type": "endpoint",
        "z": "9e36c572bb2b2e0e",
        "name": "Add topic",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "42415945f47c060b"
            ]
        ],
        "actionType": {
            "type": "str",
            "value": "addtopic"
        },
        "endpoint": {
            "type": "env",
            "value": "/${actionType}/:topic"
        }
    },
    {
        "id": "42415945f47c060b",
        "type": "change",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.topic",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 640,
        "wires": [
            [
                "6107c34b869084b6"
            ]
        ]
    },
    {
        "id": "33ff37445fd71e22",
        "type": "switch-role",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 370,
        "y": 780,
        "wires": [
            [
                "041f26bfc1e571d0"
            ],
            []
        ]
    },
    {
        "id": "038dbdaf6002571c",
        "type": "topics-assign",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 960,
        "y": 780,
        "wires": [
            [
                "d57fb4f666b653d6"
            ],
            []
        ],
        "topicPath": {
            "type": "str",
            "value": "payload.topic"
        },
        "statusPath": {
            "type": "str",
            "value": "status"
        }
    },
    {
        "id": "d57fb4f666b653d6",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "function 3",
        "func": "msg.payload = { topic: msg.payload.topic }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 780,
        "wires": [
            [
                "7b3627b6af144639"
            ]
        ]
    },
    {
        "id": "2372af7c30fab0e8",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "JSON.parse",
        "func": "if (msg.topic) {\n    try {\n        msg.topic = JSON.parse(msg.topic)\n    } catch (error) {\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 880,
        "wires": [
            [
                "879ef2c221179d06"
            ]
        ]
    },
    {
        "id": "0875188206215aa8",
        "type": "comment",
        "z": "9e36c572bb2b2e0e",
        "name": "jobctlより1m間隔で配信",
        "info": "",
        "x": 140,
        "y": 740,
        "wires": []
    },
    {
        "id": "84186f06dd80bd09",
        "type": "comment",
        "z": "9e36c572bb2b2e0e",
        "name": "procから新規topicの受信",
        "info": "",
        "x": 150,
        "y": 600,
        "wires": []
    },
    {
        "id": "0b9f36fafe8b569f",
        "type": "comment",
        "z": "9e36c572bb2b2e0e",
        "name": "procにtopicのassign",
        "info": "",
        "x": 130,
        "y": 840,
        "wires": []
    },
    {
        "id": "fe059a4a317c72a1",
        "type": "comment",
        "z": "9e36c572bb2b2e0e",
        "name": "clusterへの参加通知",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "e9bd7603374eed88",
        "type": "comment",
        "z": "9e36c572bb2b2e0e",
        "name": "clusterへのPing",
        "info": "",
        "x": 120,
        "y": 160,
        "wires": []
    },
    {
        "id": "899f97df45f4539f",
        "type": "comment",
        "z": "9e36c572bb2b2e0e",
        "name": "cluster制御処理",
        "info": "",
        "x": 120,
        "y": 320,
        "wires": []
    },
    {
        "id": "ba396e40b915898a",
        "type": "http in",
        "z": "9e36c572bb2b2e0e",
        "name": "topic completed",
        "url": "/completed/:topic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "cc1c306c7a0b926e"
            ]
        ]
    },
    {
        "id": "cc1c306c7a0b926e",
        "type": "change",
        "z": "9e36c572bb2b2e0e",
        "name": "set parameter",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "req.params.topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "msg",
                "to": "in-progress",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "8c6807c1605b1cf9"
            ]
        ]
    },
    {
        "id": "faaa745d4c17dcae",
        "type": "http response",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1060,
        "y": 1040,
        "wires": []
    },
    {
        "id": "bb91929872a6fdeb",
        "type": "http response",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 1060,
        "y": 1080,
        "wires": []
    },
    {
        "id": "c329f731b22b9173",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "assing result",
        "func": "msg.payload = {\n    \"HOSTNAME\": env.get(\"HOSTNAME\"),\n    \"NODE_RED_VERSION\": env.get(\"NODE_RED_VERSION\"),\n    \"topic\": msg.payload.topic,\n    \"topicTicket\": msg.payload.topicTicket\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1040,
        "wires": [
            [
                "faaa745d4c17dcae"
            ]
        ]
    },
    {
        "id": "36e36c6b56939fed",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "assing result",
        "func": "msg.payload = {\n    \"HOSTNAME\": env.get(\"HOSTNAME\"),\n    \"NODE_RED_VERSION\": env.get(\"NODE_RED_VERSION\"),\n    \"topic\": msg.topic\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1080,
        "wires": [
            [
                "bb91929872a6fdeb"
            ]
        ]
    },
    {
        "id": "8c6807c1605b1cf9",
        "type": "function",
        "z": "9e36c572bb2b2e0e",
        "name": "JSON.parse",
        "func": "if (msg.topic) {\n    try {\n        msg.topic = JSON.parse(msg.topic)\n    } catch (error) {\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1040,
        "wires": [
            [
                "e8dfbc55efe2889f"
            ]
        ]
    },
    {
        "id": "32f629c82e7afe15",
        "type": "comment",
        "z": "9e36c572bb2b2e0e",
        "name": "procからtopic完了受信",
        "info": "",
        "x": 140,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e8dfbc55efe2889f",
        "type": "topics-update",
        "z": "9e36c572bb2b2e0e",
        "name": "",
        "x": 650,
        "y": 1040,
        "wires": [
            [
                "c329f731b22b9173"
            ],
            [
                "36e36c6b56939fed"
            ]
        ],
        "topicPath": {
            "type": "str",
            "value": "topic.topic"
        },
        "statusPath": {
            "type": "str",
            "value": "status"
        },
        "uuidPath": {
            "type": "str",
            "value": "topic.uuid"
        }
    },
    {
        "id": "aa4d0d058a0439a4",
        "type": "inject",
        "z": "dbd8abb392121dc1",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic2",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "ab659cb4f6490749"
            ]
        ]
    },
    {
        "id": "e7eb728a17f08d75",
        "type": "inject",
        "z": "dbd8abb392121dc1",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic1",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "ab659cb4f6490749"
            ]
        ]
    },
    {
        "id": "5d916e713fcb54d6",
        "type": "debug",
        "z": "dbd8abb392121dc1",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "ab659cb4f6490749",
        "type": "topics-assign",
        "z": "dbd8abb392121dc1",
        "name": "",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "5d916e713fcb54d6"
            ],
            []
        ],
        "topicPath": {
            "type": "str",
            "value": "topic"
        },
        "statusPath": {
            "type": "str",
            "value": "status"
        }
    },
    {
        "id": "f95507e7d1cc63f1",
        "type": "inject",
        "z": "dbd8abb392121dc1",
        "name": "Sample Topic1",
        "props": [
            {
                "p": "payload.topic",
                "v": "{\t    \"topic\" : \"topic1\",\t    \"param\": {\"hoge\":\"new\"}\t}\t",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "ef4c138a0cd71fa3"
            ]
        ]
    },
    {
        "id": "c803403e1bccf5d2",
        "type": "debug",
        "z": "dbd8abb392121dc1",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "84d6fcc45f5b83e4",
        "type": "inject",
        "z": "dbd8abb392121dc1",
        "name": "Sample Topic2",
        "props": [
            {
                "p": "payload.topic",
                "v": "{\t    \"topic\" : \"topic2\",\t    \"param\": {\"hoge\":\"new\"}\t}\t",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "ef4c138a0cd71fa3"
            ]
        ]
    },
    {
        "id": "ef4c138a0cd71fa3",
        "type": "topic-add",
        "z": "dbd8abb392121dc1",
        "name": "",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "c803403e1bccf5d2"
            ]
        ],
        "topicPath": {
            "type": "str",
            "value": "payload.topic"
        }
    },
    {
        "id": "b258f9f392268ee6",
        "type": "comment",
        "z": "dbd8abb392121dc1",
        "name": "新規topicの登録",
        "info": "",
        "x": 140,
        "y": 180,
        "wires": []
    },
    {
        "id": "ae07b455dbb0c2bd",
        "type": "comment",
        "z": "dbd8abb392121dc1",
        "name": "topicのassignテスト",
        "info": "",
        "x": 150,
        "y": 340,
        "wires": []
    }
]