node_modules/node-red-job-fillter-topic/subflow/fillter-topic.json
[
    {
        "id": "b8cfb4b94405d94d",
        "type": "subflow",
        "name": "fillter-topic",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "9824a4787a5aa8d6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 60,
                "wires": [
                    {
                        "id": "9824a4787a5aa8d6",
                        "port": 0
                    }
                ]
            },
            {
                "x": 340,
                "y": 120,
                "wires": [
                    {
                        "id": "9824a4787a5aa8d6",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "topicPath",
                "type": "str",
                "value": "payload/PAYLOAD/topic"
            }
        ],
        "meta": {
            "module": "fillter-topic",
            "type": "fillter-topic"
        },
        "color": "#E2D96E",
        "icon": "node-red/rbe.png"
    },
    {
        "id": "9824a4787a5aa8d6",
        "type": "function",
        "z": "b8cfb4b94405d94d",
        "name": "fillter topic",
        "func": "\nfunction getPropByPath(obj, path) {\n    const pathArr = path.split('/');\n    let current = obj;\n    for (const prop of pathArr) {\n        if (current[prop] === undefined) {\n            return undefined;\n        }\n        current = current[prop];\n    }\n    return current;\n}\n\nconst TARGET_TOPICS = (env.get(\"TOPICS\") || \"topic1,topic2\").split(',')\nconst topicPath = env.get(\"topicPath\") //ex. msg.payload.PAYLOAD.topic\nconst topic = getPropByPath(msg, topicPath)\n\n\nmsg.topic = topic\nif (TARGET_TOPICS.indexOf(topic) > -1) return [msg, null]\nreturn [null, msg]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [],
            []
        ]
    }
]