node_modules/node-red-job-fillter-topic/subflow/node-red-job-fillter-topic.json
{
    "id": "b8cfb4b94405d94d",
    "type": "subflow",
    "name": "fillter-topic",
    "info": "\r\n環境変数TOPICSに設定した値のみを通すフィルタ\r\n\r\n```\r\nenv.set(\"TOPICS\", \"topic1,topic2\")\r\n```\r\n\r\ntopicPath: チェックするtopicが格納されている場所\r\n\r\ntopicPath: \"msg.payload.topic\"\r\nmsg = {\r\n    payload: {topic: \"topic1\"}\r\n}\r\n\r\n# result\r\nconsole.log(map.topic) // topic1\r\n",
    "category": "",
    "in": [
        {
            "x": 60,
            "y": 80,
            "wires": [
                {
                    "id": "9824a4787a5aa8d6"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 340,
            "y": 60,
            "wires": [
                {
                    "id": "9824a4787a5aa8d6",
                    "port": 0
                }
            ]
        },
        {
            "x": 340,
            "y": 120,
            "wires": [
                {
                    "id": "9824a4787a5aa8d6",
                    "port": 1
                }
            ]
        }
    ],
    "env": [
        {
            "name": "topicPath",
            "type": "str",
            "value": "payload.PAYLOAD.topic"
        }
    ],
    "meta": {
        "module": "node-red-job-fillter-topic",
        "type": "fillter-topic",
        "version": "0.0.1",
        "license": "MIT"
    },
    "color": "#E2D96E",
    "icon": "node-red/rbe.png",
    "flow": [
        {
            "id": "9824a4787a5aa8d6",
            "type": "function",
            "z": "b8cfb4b94405d94d",
            "name": "fillter topic",
            "func": "\nconst TARGET_TOPICS = (env.get(\"TOPICS\") || \"topic1,topic2\").split(',')\nconst topicPath = env.get(\"topicPath\") //ex. msg.payload.PAYLOAD.topic\nconst topic = RED.util.getPropByPath(msg, topicPath)\n\nmsg.topic = topic\nif (TARGET_TOPICS.indexOf(topic) > -1) return [msg, null]\nreturn [null, msg]",
            "outputs": 2,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 200,
            "y": 80,
            "wires": [
                [],
                []
            ]
        }
    ]
}