node_modules/node-red-job-procctl/subflow/node-red-job-procctl.json
{
    "id": "4d4915ce082a1010",
    "type": "subflow",
    "name": "procctl",
    "info": "",
    "category": "",
    "in": [],
    "out": [],
    "env": [],
    "meta": {
        "module": "node-red-job-procctl",
        "type": "procctl",
        "version": "0.0.1",
        "license": "MIT"
    },
    "color": "#DDAA99",
    "icon": "font-awesome/fa-bolt",
    "flow": [
        {
            "id": "ba6177f394b19525",
            "type": "inject",
            "z": "4d4915ce082a1010",
            "name": "PINGREQ",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "test",
            "payloadType": "str",
            "x": 200,
            "y": 240,
            "wires": [
                [
                    "09a5e77eb6a303a6"
                ]
            ]
        },
        {
            "id": "c191993956b88fde",
            "type": "switch",
            "z": "4d4915ce082a1010",
            "name": "",
            "property": "payload.COMMAND",
            "propertyType": "msg",
            "rules": [
                {
                    "t": "eq",
                    "v": "CONNECT",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "CONNACK",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "PINGREQ",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "PINGRESP",
                    "vt": "str"
                },
                {
                    "t": "eq",
                    "v": "TOPIC",
                    "vt": "str"
                }
            ],
            "checkall": "true",
            "repair": false,
            "outputs": 5,
            "x": 550,
            "y": 440,
            "wires": [
                [],
                [
                    "b7aa3510c8a309cc"
                ],
                [
                    "63e6f51c4506f688"
                ],
                [
                    "550f471e1dcb7a01"
                ],
                [
                    "c049efd53e4194c2"
                ]
            ]
        },
        {
            "id": "4c5385a7f2e8115c",
            "type": "inject",
            "z": "4d4915ce082a1010",
            "name": "CONNECT",
            "props": [
                {
                    "p": "payload"
                },
                {
                    "p": "topic",
                    "vt": "str"
                }
            ],
            "repeat": "3600",
            "crontab": "",
            "once": true,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "test",
            "payloadType": "str",
            "x": 210,
            "y": 120,
            "wires": [
                [
                    "3d78f19f4836cb18"
                ]
            ]
        },
        {
            "id": "550f471e1dcb7a01",
            "type": "debug",
            "z": "4d4915ce082a1010",
            "name": "PROC PINGRESP",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "targetType": "full",
            "statusVal": "",
            "statusType": "auto",
            "x": 810,
            "y": 460,
            "wires": []
        },
        {
            "id": "b7aa3510c8a309cc",
            "type": "function",
            "z": "4d4915ce082a1010",
            "name": "PROC CONNACK",
            "func": "\nif (msg.payload.CLUSTER_ROLE !== \"jobctl\") return msg;\nconst JOBCTL_HOST = {\n    HOST: msg.payload.CLUSTER_SERVICE_HOST || msg.payload.CLUSTER_SERVICE_IP,\n    IP: msg.payload.CLUSTER_SERVICE_IP || msg.payload.CLUSTER_SERVICE_HOST,\n    HTTP_PORT: msg.payload.CLUSTER_SERVICE_HTTP_PORT || \"1880\",\n    UDP_PORT: msg.payload.CLUSTER_SERVICE_UDP_PORT || \"2880\",\n\n    NODE_RED_VERSION: msg.payload.NODE_RED_VERSION,\n    ROLE: msg.payload.CLUSTER_ROLE\n}\nglobal.set(\"JOBCTL_HOST\", JOBCTL_HOST)\nreturn msg;\n",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 810,
            "y": 380,
            "wires": [
                [
                    "a4cdb0d6384e6688"
                ]
            ]
        },
        {
            "id": "a4cdb0d6384e6688",
            "type": "debug",
            "z": "4d4915ce082a1010",
            "name": "debug 24",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "targetType": "full",
            "statusVal": "",
            "statusType": "auto",
            "x": 980,
            "y": 380,
            "wires": []
        },
        {
            "id": "322cdb3a3c6d4aaf",
            "type": "cluster-endpoint",
            "z": "4d4915ce082a1010",
            "name": "",
            "x": 220,
            "y": 440,
            "wires": [
                [
                    "ba2e5456cc40d96a"
                ]
            ],
            "endpoint_port": {
                "type": "str",
                "value": "2880"
            }
        },
        {
            "id": "3d78f19f4836cb18",
            "type": "cluster-ctl",
            "z": "4d4915ce082a1010",
            "name": "SEND CONNECT",
            "x": 410,
            "y": 120,
            "wires": [],
            "COMMAND": {
                "type": "str",
                "value": "CONNECT"
            },
            "BROADCAST": {
                "type": "bool",
                "value": "true"
            }
        },
        {
            "id": "09a5e77eb6a303a6",
            "type": "cluster-ctl",
            "z": "4d4915ce082a1010",
            "name": "SEND PINGREQ",
            "x": 410,
            "y": 240,
            "wires": [],
            "COMMAND": {
                "type": "str",
                "value": "PINGREQ"
            },
            "BROADCAST": {
                "type": "bool",
                "value": "true"
            }
        },
        {
            "id": "63e6f51c4506f688",
            "type": "cluster-ctl",
            "z": "4d4915ce082a1010",
            "name": "SEND PINGRESP",
            "x": 810,
            "y": 420,
            "wires": [],
            "COMMAND": {
                "type": "str",
                "value": "PINGRESP"
            },
            "BROADCAST": {
                "type": "bool",
                "value": "false"
            }
        },
        {
            "id": "c049efd53e4194c2",
            "type": "fillter-topic",
            "z": "4d4915ce082a1010",
            "name": "",
            "x": 790,
            "y": 520,
            "wires": [
                [
                    "9106239501d3d8b7"
                ],
                []
            ],
            "topicPath": {
                "type": "str",
                "value": "payload.PAYLOAD.topic"
            }
        },
        {
            "id": "a9cd9463431e06fe",
            "type": "debug",
            "z": "4d4915ce082a1010",
            "name": "debug 25",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "false",
            "statusVal": "",
            "statusType": "auto",
            "x": 1120,
            "y": 520,
            "wires": []
        },
        {
            "id": "832ca1338123e685",
            "type": "comment",
            "z": "4d4915ce082a1010",
            "name": "clusterへの参加通知",
            "info": "",
            "x": 210,
            "y": 80,
            "wires": []
        },
        {
            "id": "3cd2328fbed73e5f",
            "type": "comment",
            "z": "4d4915ce082a1010",
            "name": "clusterへのPing",
            "info": "",
            "x": 200,
            "y": 200,
            "wires": []
        },
        {
            "id": "09d7c8541ed4506b",
            "type": "comment",
            "z": "4d4915ce082a1010",
            "name": "cluster制御処理",
            "info": "",
            "x": 200,
            "y": 360,
            "wires": []
        },
        {
            "id": "9106239501d3d8b7",
            "type": "waitlist-add",
            "z": "4d4915ce082a1010",
            "name": "",
            "x": 970,
            "y": 520,
            "wires": [
                [
                    "a9cd9463431e06fe"
                ]
            ],
            "topicNamePath": {
                "type": "str",
                "value": "payload.PAYLOAD.topic"
            }
        },
        {
            "id": "ba2e5456cc40d96a",
            "type": "switch-role",
            "z": "4d4915ce082a1010",
            "name": "",
            "x": 390,
            "y": 440,
            "wires": [
                [],
                [
                    "c191993956b88fde"
                ]
            ]
        }
    ]
}