node_modules/node-red-job-waitlist-add/subflow/node-red-job-waitlist-add.json
{
    "id": "1f63a3ba2a6337e6",
    "type": "subflow",
    "name": "waitlist-add",
    "info": "",
    "category": "",
    "in": [
        {
            "x": 40,
            "y": 80,
            "wires": [
                {
                    "id": "998fa97d665f6910"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 340,
            "y": 80,
            "wires": [
                {
                    "id": "998fa97d665f6910",
                    "port": 0
                }
            ]
        }
    ],
    "env": [
        {
            "name": "topicNamePath",
            "type": "str",
            "value": "payload.PAYLOAD.topic"
        }
    ],
    "meta": {
        "module": "node-red-job-waitlist-add",
        "type": "waitlist-add",
        "version": "0.0.1",
        "license": "MIT"
    },
    "color": "#DEB887",
    "icon": "node-red/db.svg",
    "flow": [
        {
            "id": "998fa97d665f6910",
            "type": "function",
            "z": "1f63a3ba2a6337e6",
            "name": "waitlist-add",
            "func": "const topicPath = env.get(\"topicNamePath\") //ex.msg.payload.topic \nconst topicName = RED.util.getPropByPath(msg, topicPath)//{topic: \"\",param: { }}\n\n//{topicname:[{topic:\"\",param: {}}}]}\nconst waitlist = global.get(\"WAITLIST_TOPICS\") || new Array()\nwaitlist.push(topicName)\nglobal.set(\"WAITLIST_TOPICS\", waitlist)\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 190,
            "y": 80,
            "wires": [
                []
            ]
        }
    ]
}